ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 200px;
  background-color: #d98cd9;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #660066;
  color: white;
}
a:link {
  text-decoration: none;
}
.center-box { 
  position: relative;
  height: 400px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftr-brand{
	cursor:pointer
}

.info-bar {
	height:100px;
	color:#660066;
}
.info-bar-inner {
	line-height:.5;
	padding-top: 35px;
}
.up-banner {
	background-color: #660066;
	height: 100px;
}
.menu-container {
	height: 400px;
	margin-top:10px;
	margin-bottom:10px;
}
.left-menu {
	background-color: #d98cd9;
}
.middle-space {
	background-color: #993399;
}
.wrapper {
	background-color:ffe6ff;
}
.right-menu {
	background-color: #d98cd9;
}
.footer {
	background-color:#660066;
	height: 50px;
}
.social {
	padding-top:10px;
	color:white;
}
.basicinfo {
	line-height:.5;
	color:#f2f2f2;
	padding-top: 20px;
}
.osnovno-stanje {
	color:white;
	margin-top:50px;
}
.tran-h5 {
	padding-left: 5px;
}
.tbl-wrapper {
}
.tran-table {
	font-size: 12px;
}
.pic-wrapper {
	color:white;
	margin-top: 100px;
}
.tek-rac {
	margin-top:30px;
}
.racuni-tbl-wrapper {
	margin-top:30px;
}
.racuni-tbl {
	font-size: 12px;
	color:white;
}
.form-wrapper {
	margin-top:20px;
}
.msg {
	margin-top:20px;
}
.sign-out {
	margin-top: 30px;	
}
#log-out-lnk {
	color: #660066;
}