{% extends "_global/index.html" %}

{% block lastlogin %}
	<div class="row">
		<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
		</div>
		<div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
			<p>{{user.ime}} {{user.prezime}}</p>
			<p>Poslednji log in: {{user.poslednji_log_in}}</p>	
		</div>
	</div>
{% endblock %}

{% block basicinfo %}
	<div class="col-12 col-sm-11 col-md-8 col-lg-8 col-xl-12 offset-1 offset-sm-1 offset-md-5 offset-lg-5 offset-xl-5 basicinfo">
		<p>Osnovni tekući račun</p>
		<p>{{osnovniracun}}</p>
		<p>{{user.ime}} {{user.prezime}}</p>
	</div>
{% endblock %}

{% block main %}

<div class="text-center pic-wrapper">
	<i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
	<div style="margin-top:20px"><button type="button" class="btn btn-primary">Promenite sliku</button></div>
</div>

{% endblock %}

{% block rightpanel %}

<div class="row h-100">
	<div class="h-25 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tran">
		<h5 class="tran-h5">Osnovni podaci</h5>
	</div>
	
	<div class="h-75 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 tbl-wrapper">
		<table class="table tran-table">
			<thead>
				<tr hidden>
					<th>Atribut</th>
					<th>Vrednost</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Ime</td>
					<td>{{user.ime}}</td>
				</tr>
				<tr>
					<td>Prezime</td>
					<td>{{user.prezime}}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<td>Broj telefona</td>
					<td>{{user.telefon}}</td>
				</tr>
			</tbody>
			
		</table>					
	</div>
</div>

{% endblock %}

