{% extends "_global/index.html" %}

{% block lastlogin %}
{% endblock %}

{% block basicinfo %}
{% endblock %}

{% block rightpanel %}
{% endblock %}

{% block main %}
<form class="form-horizontal" action="login" method="POST">
	<div class="form-group">
		<label for="input_email">Email:</label>
		<input class="form-control" type="email" id="input_email" name="login_email" required
		placeholder="Unesite svoju adresu e-poste" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
		title="Uneta e-mail adresa nije u validnom formatu!">
	</div>

	<div class="form-group">
		<label for="input_password">Lozinka:</label>
		<input class="form-control" type="password" id="input_password" name="login_password" required placeholder="Unesite svoju lozinku">		
	</div>
	
	<button class="btn btn-primary" type="submit">
		Login
	</button>
	
</form>

{% endblock %}
	
	