{% extends "_global/index.html" %}

{% block lastlogin %}
	<div class="col-md-2">
		<i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
	</div>
	<div class="col-md-10">
		<p>{{user.ime}} {{user.prezime}}</p>
		<p>Poslednji Log In: {{user.poslednji_log_in}}</p>
	</div>
{% endblock %}

{% block basicinfo %}
	<div class="col-md-8 offset-md-5 basicinfo">
		<p>Osnovni tekući račun</p>
		<p>{{osnovniracun}}</p>
		<p>{{user.ime}} {{user.prezime}}</p>
	</div>
{% endblock %}


{% block main %}

<div class="text-center pic-wrapper">
	<i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
	<div style="margin-top:20px"><button type="button" class="btn btn-primary">Promenite sliku</button></div>
</div>

{% endblock %}

{% block rightpanel %}

<div class="row text-center tran">
	<p class="tran-h5">Osnovni podaci</p>
</div>

<div class="row tbl-wrapper">
	<table class="table tran-table">
		<thead>
			<tr hidden>
				<th>Atribut</th>
				<th>Vrednost</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ime</td>
				<td>{{user.ime}}</td>
			</tr>
			<tr>
				<td>Prezime</td>
				<td>{{user.prezime}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{user.email}}</td>
			</tr>
			<tr>
				<td>Broj telefona</td>
				<td>{{user.telefon}}</td>
			</tr>
		</tbody>
		
	</table>					
</div>

{% endblock %}

