<!DOCTYPE html>
<html>

	<head>
		<title>EBank Aplikacija</title>
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="frontend/javascript/main.js"></script>
		<link rel="stylesheet" href="frontend/css/main.css">
		<meta charset="utf-8">
	</head>
	
	<body>	
		<div class="container">
			<div class="row info-bar">
				<div class="col-11 col-sm-10 col-md-10 col-lg-10 col-xl-10 info-bar-inner text-center">
					<div class="row text-center">
						<div class="col-11 col-sm-10 col-md-8 col-lg-8 col-xl-8 offset-1 offset-sm-2 offset-md-3 offset-lg-3 offset-xl-3">
							{% block lastlogin %}
							{% endblock %}
						</div>
					</div>
				</div>
				<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2 sign-out">
					<div class="pull-right"><a id="log-out-lnk" href="logout"><i class="fa fa-power-off fa-3x" aria-hidden="true"></i></a></div>
				</div>
			</div>			
			<div class="row up-banner">
				{% block basicinfo %}
				{% endblock %}
			</div>
			<div class="row menu-container">
				<div class="h-100 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 left-menu">
					<ul style="list-style-type: none">
						<li><a href="ebank_app">Stanje</a></li>
						<li><a href="listaRacuna">Pregled Računa</a></li>
						<li><a href="prenos">Prenos sredstava</a></li>
						<li><a href="nalog">Nalog</a></li>
					</ul>
				</div>
				<div class="h-100 col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 middle-space">					
					{% block main %}
					{% endblock %}
				</div>
				<div class="h-100 col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 wrapper">
					<div class="row h-100">						
						<div class="h-100 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 right-menu">						
							{% block rightpanel %}
							{% endblock %}						
						</div>
					</div>
				</div>
			</div>
			<div class="row footer">
				<div class="h-100 col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-1 offset-sm-2 offset-md-4 offset-lg-5 offset-xl-5 social">
					<span class="ftr-brand"><a href="www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
					<span class="ftr-brand"><a href="www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
					<span class="ftr-brand"><a href="www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
					<span class="ftr-brand"><a href="www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></span>
				</div>
			</div>
		</div>								
	</body>

</html>